<<<<<<< HEAD
okada.haruka.git <!DOCTYPE html>
=======
UNAGI
<!DOCTYPE html>
>>>>>>> b9978f4a5c732ecfefd65a8d56545b54150dc1ec
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>